<br />
<img src="~/img/adminarea.jpg" alt="Àrea de Administração"  class="marginTop1"/>
<div class="container">
    <div class="jumbotron">
        <p>
           <h2>Área do Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta para Página Inicial</a>
</div>
