
<div class="container">
    <img src="~/img/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/img/Envelope-icon24.png" />
            </span>
            <h5><email endereco="ruanoliveira.pro@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/img/phone-app-icon.png" />
            </span>
            <h5>(21) 97600-9515</h5>
            <br />
            <span>
                <img src="~/img/Home-iconred.png" />
            </span>
            <h5>Praça da alegria, Ramos - 21030380 - Rio de Janeiro</h5>
        </p>
    </div>
</div>

